html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
}

/* Navigation styling */

nav {
  background-color: var(--black);
}

nav a {
  color: var(--paragraph);
}

/* All folders, no files */
nav .row:not(nav .drop-content .row) {
  border-bottom: solid 1px var(--brown);
}

/* All files, no folders */
nav .drop-content .row {
  border-bottom: solid 1px var(--paragraph);
}

nav .row i {
  color: var(--paragraph);
}

nav .row:hover a {
  background-color: var(--grey);
  color: var(--header);
}

.dropper {
  cursor: pointer;
}

.dropper:hover, .dropper:hover i, .dropper:hover a {
  color: var(--brown);
}

/* Main content */

main {
  border-right: var(--brown) 2px solid;
  border-left: var(--brown) 2px solid;
  line-height: 1.5;
}

.article-text a {
  color: var(--brown);
}

.pageTitle {
  color: var(--brown);
}

.section-hdr {
  font-size: 21pt;
  color: var(--header);
  background-color: var(--black);
}

.article-hdr {
  font-size: 14pt;
  color: var(--header);
  background-color: var(--light-grey);
}

.article-subhdr {
  font-size: 14pt;
  color: var(--subheader);
  background-color: var(--grey);
}

.article-text {
  color: var(--paragraph);
  background-color: var(--black);
}

.article-text .fa-check-circle {
  color: var(--brown);
}

:root {
  /* Background Colors */
  --black: #111;
  --grey: #222;
  --light-grey: #333;

  /* Use sparingly */
  --brown: #A9675B;

  /* Text Colors */
  --header: #999;
  --subheader: #777;
  --paragraph: #808080;

  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 1000px) {
  main {
    border-left: none !important;
    border-right: none !important;
  }

  nav .row {
    background-color: var(--black);
  }

  nav .row i {
    color: var(--brown);
  }

  nav .drop-content .row {
    background-color: var(--black);
  }
}

@media screen and (max-width: 600px) {
  main {
    border-left: none !important;
    border-right: none !important;
  }

  nav .row {
    font-size: 14pt;
  }
  .pageTitle {
    font-size: 28pt;
  }

  .article-hdr {
    font-size: 18pt;
  }

  .article-ls, .article-par {
    font-size: 14pt;
  }
}
