html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
}

/* Navigation styling */

nav {
  background-color: var(--dark-grey);
}

nav a {
  color: var(--paragraph);
}

/* All folders, no files */
nav .row:not(nav .drop-content .row) {
  border-bottom: solid 1px var(--brown);
}

/* All files, no folders */
nav .drop-content .row {
  border-bottom: solid 1px var(--paragraph);
}

nav .row i {
  color: var(--paragraph);
}

nav .row:hover a {
  background-color: var(--grey);
  color: var(--header);
}

nav .row:hover {
  cursor: pointer;
}

nav .row:hover i, nav .row:hover a {
  color: var(--brown);
}

/* Main content */

main {
  border-right: var(--brown) 2px solid;
  border-left: var(--brown) 2px solid;
  line-height: 1.5;
}

.article-par a, .article-ls a {
  color: var(--brown);
}

.pageTitle {
  color: var(--brown);
}

.section-hdr {
  font-size: 21pt;
  color: var(--header);
  background-color: var(--dark-grey);
}

.article-hdr {
  font-size: 14pt;
  color: var(--subheader);
  background-color: var(--grey);
}

.article-subhdr {
  font-size: 14pt;
  color: var(--subheader);
  background-color: var(--grey);
}

.article-par, .article-ls {
  color: var(--paragraph);
  background-color: var(--dark-grey);
}

:root {
  /* Background Colors */
  --black: #050505;
  --dark-grey: #111;
  --grey: #222;

  /* Use sparingly */
  --brown: #77473E;

  /* Text Colors */
  --header: #999;
  --subheader: #777;
  --paragraph: #666;

  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 1000px) {
  main {
    border: none;
  }

  nav .row {
    background-color: var(--black);
  }

  nav .row i {
    color: var(--brown);
  }

  nav .drop-content .row {
    background-color: var(--dark-grey);
  }
}

@media screen and (max-width: 600px) {
  nav .row {
    font-size: 14pt;
  }
  .pageTitle {
    font-size: 28pt;
  }

  .article-hdr {
    font-size: 18pt;
  }

  .article-ls, .article-par {
    font-size: 14pt;
  }
}
