nav {
  position: fixed;

  display: grid;
  grid-auto-flow: row;

  width: 20vw;
  top: 45vh;
  left: 0;
  overflow: hidden;
}

nav .drop-content {
  display: none;
  grid-auto-flow: row;
  margin-left: var(--indent);
}

nav .dropped-content {
  display: grid;
}

nav .row i, nav .row a {
  line-height: 2;
  display: block;
}

nav .row i {
  margin: 0 8px;
  float: left;
}

body {
  margin: 0;
}

main {
  width: 60vw;
  margin: 64px 20vw;
}

main .drop-content {
  display: none;
}

main .dropped-content {
  display: block;
}

.pageTitle {
  margin: 0;
  text-indent: var(--indent);
}

.section-hdr {
  margin: 0;
  line-height: 2;
  padding-left: calc(var(--indent) * 2);
}

.article-hdr {
  margin: 0;
  line-height: 2;
  padding-left: calc(var(--indent) * 3);
}

.article-subhdr {
  margin: 0 0 0 calc(var(--indent) * 2);
  line-height: 2;
  padding-left: var(--indent);
}

.article-subhdr i {
  margin-right: 8px;
  margin-left: -16px;
}

.article-text {
  padding: 16px var(--indent);
  margin: 0 calc(var(--indent) * 3);
}

.replace-bullet {
  margin-left: -2ch;
  margin-right: 1ch;
}

:root {
  --indent: 2vw;
}

@media screen and (max-width: 1000px) {
  main {
    width: 100vw;
    margin: 0;
  }

  nav {
    position: relative;
    width: 100%;
    top: 0;
  }

  nav .row {
    border: none !important;
  }

  nav .row i, nav .row a {
    line-height: 3;
    padding: 0;
    margin: 0;
  }

  nav .row i {
    padding: 0 16px;
  }

  nav .row a {
    width: 100vw;
  }

  .article-text {
    margin: 0;
    padding: 8px calc(var(--indent) * 4);
    margin: 0 !important;
  }

  :root {
    --indent: 3vw;
  }
}

@media screen and (max-width: 600px) {
  .pageTitle, .section-hdr, .article-subhdr, .article-hdr {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .article-ls, .article-par {
    padding: 8px 32px;
    margin: 0 !important;
  }

  :root {
    --indent: 0;
  }
}
